venv

software/db_mqtt_inteface/__pycache__

software/db_mqtt_inteface/db/dirty7w7.py
software/db_mqtt_inteface/db/__pycache__
software/db_mqtt_interface/db/__pycache__/

software/db_mqtt_inteface/mqtt_python/dirty8w8.py
software/db_mqtt_inteface/mqtt_python/__pycache__

