<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5><a class="nav-item nav-link" style="color:#FFFFFF" href="/data">Data</a></h5>
        <h5><a class="nav-item nav-link" style="color:#FFFFFF" href="/settings">Settings</a></h5>
        <h5><a class="nav-item nav-link" style="color:#FFFFFF" href="/detailed_analysis">Detailed Analysis</a></h5> 
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
